@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .title {
    @apply font-bold text-[20px] my-2  dark:text-white text-blue-900;
  }
  .styleVisible {
    @apply absolute left-[112px] sm:left-[200px] md:left-[277px] top-[40px] cursor-pointer;
  }

  .error {
    @apply text-dangerous text-start text-[10px] sm:text-center sm:text-[14px] absolute top-[-0.35rem] right-[0.25rem] md:right-[7.25rem]  my-1;
  }

  input::placeholder,
  input {
    font: 0.75rem/3 sans-serif;
  }

  textarea::placeholder,
  textarea {
    font: 0.75rem/3 sans-serif;
  }

  .empty_state {
    position: relative;
    top: -20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    i {
      margin: auto;
      margin-bottom: 0px;
      font-size: 90px;
      color: #ccc;
    }
    h3 {
      margin: 8px 0px;
      text-align: center;
      font-weight: normal;
    }
    p {
      font-size: 14px;
      margin: 0px;
      color: #999;
      text-align: center;
    }
    button {
      outline: none;
      border: none;
      border-radius: 3px;
      padding: 8px 8px;
      margin: 20px auto auto auto;
      width: 50%;
      max-width: 200px;
      background: #348ac7;
      color: white;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
